main{
    margin: 3vw 7.5vw;

}

#accountWrapper{
    width: 85vw;
    display: flex;
    justify-content: space-between;
    margin-top: 2vw;
    gap: 5vw;
}

#accountWrapper div{
    width: 100%;
}

#userInfoDiv{
    background-color: #f5f0e6;
    border: 1px solid #ddd6cb;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

#userInfoDiv span{
    font-size: 4vw;
}

.userIcon{
    font-size: 6vw;
    color: #7A8C63;
}

.userInfo{
    font-size: 1.2vw;
}

#editAccountBtn{
    background-color: #7A8C63;
    padding: 0.5vw 1vw;
    border-radius: 2vw;
    display: flex;
    gap: 0.5vw;
}

#editAccountBtn span{
    font-size: 24px;
}

#editAccountBtn span, #editAccountBtn p{
    color: white;
}

#readingStats{
    background-color: #f5f0e6;
    border: 1px solid #ddd6cb;
    border-radius: 1vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}

.statsTitle{
    font-size: 1.5vw;
    font-weight: bold;
}

.statsRow{
    display: flex;
    align-items: center;
    gap: 0.7vw;
    font-size: 1.1vw;
}

.statsRow span{
    color: #7A8C63;
}
