body{
    width: 100%;
    height: fit-content;
}

header{
    width: 100%;
}

main{
    width: 65vw;
    margin-left: 17.5vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1vw;
    border: 1px solid #5a4632;
    padding: 2vw;
    border-radius: 2vw;
    margin-bottom: 10vh;
}

#ratingSection{
    display: flex;
    gap: 1vw;
    align-items: center;
}

#ratingSection div{
    display: flex;
}

#ratingSection div span{
    color: #7A8C63;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

#bookGenre{
    background-color: #f5f0e6;
    padding: 0.2vw 1vw;
    border-radius: 2vw;
}

#actionsSection{
    display: flex;
    gap: 1vw;
}

.buttonAction{
    display: flex;
    border: 1px solid #5a4632;
    padding: 0.5vw 0.7vw;
    border-radius: 2vw;
    gap: 0.5vw;
    justify-content: center;
    background: none;
}

.buttonAction span{
    color: #7A8C63;
}

.favorited{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

form{
    display: flex;
    gap: 0.6vw;
    margin-top: 0.5vw;
}

form select{
    background-color: #f5f0e6;
    border-radius: 1vw;
    padding: 0.2vw 0.4vw;
    color:#886f56;
    border: none;
}

form button{
    background-color: #7A8C63;
    padding: 0.4vw 0.7vw;
    border-radius: 2vw;
    display: flex;
    gap: 0.5vw;
    border: none;
    color: white;
}

#synopsisSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd6cb;
    padding: 1vw;
    border-radius: 0.5vw;
    background-color: #F5F0E6;
    gap: 0.7vw;
}

#priceSection{
    width: 100%;
    display: flex;
    border: 1px solid #ddd6cb;
    padding: 1vw;
    border-radius: 0.5vw;
    background-color: #F5F0E6;
    gap: 0.7vw;
    justify-content: space-between;
    align-items: center;
}

#priceSection div{
    display: flex;
    flex-direction: column;
    gap: 0.7vw;
}

#priceSection a{
    background-color: #7A8C63;
    padding: 0.4vw 0.7vw;
    border-radius: 2vw;
    display: flex;
    gap: 0.5vw;
    border: none;
}

#bookPrice{
    color: #7A8C63;
}

#priceSection a p, #priceSection a span{
    color: white;
}

#emptyRatings{
    width: 100%;
    display: flex;
    border: 1px solid #ddd6cb;
    padding: 2vw;
    border-radius: 0.5vw;
    background-color: #F5F0E6;
    gap: 0.7vw;
    justify-content: center;
    align-items: center;
}

#collectionDropdownWrapper{
    display: flex;
    gap: 0.6vw;
}

#addCollectionsBtn{
    background-color: #7A8C63;
    padding: 0.4vw 0.7vw;
    border-radius: 2vw;
    display: flex;
    gap: 0.5vw;
    border: none;
    color: white;
    align-items: center;
}

#collectionDropdown{
    background-color: #f5f0e6;
    border-radius: 1vw;
    padding: 0.2vw 0.4vw;
    color:#886f56;
    border: none;
}

#collectionDropdown button{
    background: none;
    border: none;
}

.dropdown {
    position: relative; width: 250px;
}

.dropdown button { 
    width: 100%; padding: 8px; cursor: pointer; 
}

.list { 
    position: absolute; 
    background: white; 
    width: 100%; 
    border: 1px solid #ccc; 
    max-height: 180px; 
    overflow-y: auto; 
    z-index: 10; 
}

.hidden { 
    display: none; 
}

.list label { 
    display: flex; align-items: center; gap: 6px; padding: 6px; cursor: pointer;
}

#ratingsContainer{
    flex-direction: column;
    gap: 1vw;
}

.ratingItem{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vw;
    border: 1px solid #ddd6cb;
    padding: 1vw;
    border-radius: 0.5vw;
    background-color: #F5F0E6;
}

.ratingItem div{
    display: flex;
    justify-content: space-between;
}

.userRate{
    font-size: 1vw;
    font-weight: bold;
}