main{
    width: 85vw;
    margin: 2vw 0 0 7.5vw;
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
}

.pageTitle{
    font-size: 2rem;
    margin-bottom: 0.5vw;
}

.emptyCatalogue{
    width: 85vw;
    background-color: #f5f0e6;
    border: 1px solid #ddd6cb;
    padding: 2vw;
    display: none;
    flex-direction: column;
    border-radius: 1vw;
    align-items: center;
    gap: 1vw;
}

.emptyCatalogue span{
    font-size: 4vw;
    color: #5a4632;
}

#purchasesList{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.purchaseItem{
    display: flex;
    flex-direction: column;
    background-color: #f5f0e6;
    border: 1px solid #ddd6cb;
    padding: 1vw;
    border-radius: 0.5vw;
    gap: 0.5vw;
}

.purchaseHeader{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1rem;
}

.booksInPurchase{
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    margin-top: 0.5vw;
}

.bookInPurchase{
    display: flex;
    justify-content: space-between;
}

.bookInPurchase p{
    margin: 0;
}
