main {
    width: 85vw;
    margin: 2vw auto;
}

#chatContainer {
    background-color: #F5F0E6;
    border: 1px solid #ddd6cb;
    padding: 1.5vw;
    border-radius: 1vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

#chatTitle {
    font-size: 1.3vw;
    margin-bottom: 1vw;
}

#messagesBox {
    flex: 1;
    min-height: 0;
    max-height: calc(100% - 6vw);
    background-color: #f7f3eb;
    border-radius: 1vw;
    padding: 1vw;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}

.messageBubble {
    background-color: #7A8C63;
    color: white;
    max-width: 25vw;
    padding: 0.7vw;
    border-radius: 0.7vw;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    gap: 0.3vw;

    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
    min-height: fit-content;
}

.messageBubble p {
    margin: 0;
}

.messageUser {
    font-weight: bold;
    font-size: 0.9vw;
}

.messageText {
    font-size: 1vw;
}

.messageDate {
    font-size: 0.7vw;
    opacity: 0.9;
}

#chatInputArea {
    display: flex;
    align-items: center;
    margin-top: 1vw;
}

#messageInput {
    flex: 1;
    background: none;
    border: 1px solid #aca499;
    border-radius: 0.5vw;
    padding: 0.6vw;
}

#sendBtn {
    background-color: #7A8C63;
    margin-left: 0.5vw;
    padding: 0.6vw;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

#sendBtn span {
    color: white;
    font-size: 1.5vw;
}

#chatTitle {
    font-size: 1.3vw;
    margin-bottom: 1vw;
    display: flex;
    align-items: center;
    gap: 0.6vw;
}

#refreshBtn {
    background-color: #7A8C63;
    border: none;
    border-radius: 50%;
    padding: 0.3vw;
    cursor: pointer;
}

#refreshBtn span {
    color: white;
    font-size: 1.2vw;
}

#refreshBtn span, #sendBtn span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBubble p{
    color: white;
}

.messageBubble.otherUser {
    background-color: #c9c1b4;
    color: black;
    align-self: flex-start;
}
.messageBubble.otherUser p {
    color: black;
}