#editAccountForm{
    border: 1px solid #ddd6cb;
    display: flex;
    flex-direction: column;
    width: 40vw;
    padding: 2vw;
    border-radius: 0.5vw;
    background-color: #F5F0E6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1vw;
}

#formTitle{
    display: flex;
    align-items: center;
    gap: 0.5vw;
}

#formTitle span{
    color: #7A8C63;
    font-size: 2vw;
}

.inputWrapper{
    display: flex;
    flex-direction: column;
}

#editAccountForm input,
#editAccountForm select{
    background: none;
    border: 1px solid #aca499;
    border-radius: 0.5vw;
    padding: 0.4vw;
}

#editAccountForm button{
    background-color: #7A8C63;
    padding: 0.6vw 0.7vw;
    border-radius: 2vw;
    border: none;
    justify-content: center;
    color: white;
    cursor: pointer;
}
