#formWrapper{
    border: 1px solid #ddd6cb;
    display: flex;
    flex-direction: column;
    width: fit-content;
    padding: 2vw;
    border-radius: 0.5vw;
    background-color: #F5F0E6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#formHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}

#formHeader span{
    color: #7A8C63;
    font-size: 3vw;
}

#formTitle{
    color:#5a4632;
}

#formDesc{
    color: #a67355;
}

#formWrapper form{
    display: flex;
    flex-direction: column;
    padding-top: 0.5vw;
    gap: 0.5vw;
}

form input{
    background: none;
    border: 1px solid black;
    border-radius: 0.5vw;
    padding: 0.2vw;
}

#formButton{
    background-color: #7a8c63;
    border: none;
    color: white;
    padding: 0.5vw;
    border-radius: 0.5vw;
}

a{
    margin-top: 0.5vw;
    text-align: center;
}
